<div class="recruitment__container"
     id="dwelling-<%= dwelling.id %>"
     data-controller="dwelling"
     data-dwelling-available-creatures-value="<%= dwelling.available_creatures %>"
     data-dwelling-cost-per-troop-value="<%= dwelling.cost_per_troop['resources'].to_json %>"
     data-dwelling-message-value="<%= local_assigns[:message]&.to_json %>">
  <div class="recruitment__border">
    <%= form_with(url: recruit_heroes_game_creature_recruitment_dwelling_path(dwelling.game_id, dwelling), method: :post, id: "recruit-form-#{dwelling.id}", class: "recruitment__component") do |f| %>
      <h1 class="recruitment__title">Recruit <%= dwelling.creature_id.capitalize.pluralize %></h1>
      <%= image_tag "Recruit#{dwelling.creature_id.capitalize}Image.png", alt: "#{dwelling.creature_id.capitalize} image", class: "recruitment__creature-image" %>

      <div class="recruitment__controls">
        <div class="recruitment__cost-per-troop">
          <p class="recruitment__cost-title">Cost Per Troop</p>
          <div class="recruitment__cost-details">
            <% dwelling.cost_per_troop['resources'].each do |resource, amount| %>
              <div class="recruitment__resource">
                <%= image_tag "#{resource.downcase}_resource.png", alt: "#{resource.capitalize} resource", class: "recruitment__resource-image" %>
                <div class="recruitment__resource-amount"><%= amount %></div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="recruitment__center-controls">
          <div class="recruitment__counts">
            <div class="recruitment__count">
              <div class="recruitment__count-title">Available</div>
              <div class="recruitment__count-value"><%= dwelling.available_creatures %></div>
            </div>
            <div class="recruitment__count">
              <div class="recruitment__count-title">Recruit</div>
              <div class="recruitment__count-value" data-dwelling-target="recruitCount">0</div>
            </div>
          </div>
          <div class="recruitment__slider">
            <%= f.range_field :recruit_count,
                              min: 0,
                              max: dwelling.available_creatures,
                              value: 0,
                              class: "recruitment__slider-input",
                              data: {
                                dwelling_target: "slider",
                                action: "input->dwelling#sliderChanged"
                              } %>
          </div>
        </div>

        <div class="recruitment__total-cost" data-dwelling-target="totalCost">
          <p class="recruitment__cost-title">Total Cost</p>
          <div class="recruitment__cost-details">
            <% dwelling.cost_per_troop['resources'].each do |resource, amount| %>
              <div class="recruitment__resource">
                <%= image_tag "#{resource.downcase}_resource.png", alt: "#{resource.capitalize} resource", class: "recruitment__resource-image" %>
                <div class="recruitment__resource-amount" id="total-<%= resource.downcase %>"><%= amount %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="recruitment__buttons">
        <button type="button" class="recruitment__button recruitment__button--select-all" data-action="click->dwelling#selectAll">
          <%= image_tag "button_select_all.png", alt: "Select All", class: "recruitment__button-image" %>
        </button>
        <%= f.button type: "submit", class: "recruitment__button recruitment__button--recruit" do %>
          <%= image_tag "button_recruit.png", alt: "Recruit", class: "recruitment__button-image" %>
        <% end %>
        <%= link_to heroes_game_creature_recruitment_dwelling_path(dwelling.game_id, dwelling), class: "recruitment__button recruitment__button--cancel" do %>
          <%= image_tag "button_cancel.png", alt: "Cancel", class: "recruitment__button-image" %>
        <% end %>
      </div>
    <% end %>

    <div class="recruitment__message-box">
      <p class="recruitment__message-box__text" data-dwelling-target="messageBox"></p>
    </div>
  </div>
</div>